
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: lightgray;
    font-family: sans-serif; 
}

#container {
    width: 80%;
    margin: 100px auto;
    border: 1px solid orange;
}

header {
    background: orange;
    height: 80px;
    widows: 100%;
    text-align: center;
    line-height: 80px;
    font-style: italic;
    color: white;
    border-bottom: 2.5px dashed gray;
}

nav {
    background: lightblue;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

#content {
    width: calc(80% - 40px);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 400px;
    background: gray;
    float: left;
}

.article {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article:first-child {
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.article h2 {
    font-size: 20px;
    font-style: italic;
    color: orange;
}

aside {
    width: calc(20% - 20px);
    min-height: 400px;
    /*padding: 10px;*/
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: yellow;
    float: left;
}

#inpt {
    width: 50%;
}

footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.clearfix {
    clear: both;
}
